@font-face {
	font-family: "minsans";
	src: url(media/fonts/MinSans-Medium.otf);
	src: url(media/fonts/MinSans-Medium.otf)
		format("opentype");
}
@font-face {
	font-family: "orifont";
	src: url(media/fonts/Orifont-Regular.ttf);
	src: url(media/fonts/Orifont-Regular.ttf)
		format("truetype");
}

header {
	background-color: #d6efed;
}
.title{
	font-family: orifont;
	font-size: 2.5vw;
}
.nav-link{
	font-family: minsans;
	font-size: 1vw;
	padding: 0;
}
.nav{
	display: flex;
	max-width: fit-content;
}

.nav-item{
	margin-right:7.8vw;
	
}
.nav-box{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width:64vw ;
 }