@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "minsans";
	src: url(media/fonts/MinSans-Regular.otf);
	src: url(media/fonts/MinSans-Regular.otf)
		format("opentype");
}
@font-face {
	font-family: "orifont";
	src: url(media/fonts/Orifont-Regular.ttf);
	src: url(media/fonts/Orifont-Regular.ttf)
		format("truetype");
}
:root {
	--primary-color: #b3daff;
	--secondary-color: #51606f;
	--main-font: minsans;
	--secondary-font: orifont;
}
h1 {
	font-family: orifont;
}
h3 {
	font-family: MinSans;
}
p{
	font-family: MinSans;
}
li {
	font-family: MinSans;
}
img {
	width: 25vw;
	height: auto;
}
a {
	text-decoration: none;
	color: black;
}
points {
	font-family: MinSans;
}
.dropdown-menu {
	background-color: var(--secondary-color);
}
header {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	color: white;
}

.title {
	font-family: orifont;
}
.nav-link {
	font-family: orifont;
	padding: 0;
	color: white;
	text-decoration: none;
}
.nav-link:hover {
	color: white;
}
.nav-link:active {
	color: white;
}
.nav-link:visited {
	color: white;
}
.nav {
	display: flex;
	max-width: fit-content;
}

.nav-item {
	margin-right: 4.8vw;
	color: var(--primary-color);
	background-color: ;
}

.nav-box {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	align-self: center;
}
.logo {
	min-height: 80px;
	min-width: 80px;
	width: 8vw;
	height: 8vw;
	max-width: 120px;
	max-height: 100px;
	align-self: center;
	padding: 10px;
}
.menu-icon {
	visibility: hidden;
	display: none;
}
/* making the hamburger menu only show up when screen size becomes too small */
@media (max-width: 900px) {
	.nav {
		display: none;
	}
	.menu-icon {
		visibility: visible;
		display: flex;
		justify-self: center;
		align-self: center;
	}
	header {
		justify-content: space-around;
	}
	.points {
		display: none;
	}
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	background-color: var(--secondary-color);
	justify-content: center;
	align-items: center;
	color: black;
}
main {
	background-color: var(--primary-color);
	padding: 20px 2.5vw;
	min-height: 80vh;
}
.game-info-container {
	display: flex;
	width: 100%;
	padding:0 10vw;
	justify-self: center;
	align-self: center;
	justify-content: center;
	align-items: center;
}
.game-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 2.5vw;

}
.game-info-image {
	width: 40vw;
	height: auto;
}
.easter-egg {
	display: flex ;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#synopsis {
	flex-direction: row-reverse;
}
article {margin:2.5vw 0 }
@media (max-width: 1095px) {
	.game-info-container {
		padding:0
	}}
	
@media (max-width: 900px) {
	.game-info-container {
		flex-direction: column;
	}
	.game-info-image {
		width: 40vw;
		height: auto;
	}
}




#close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
}
.ori {
	font-family: orifont;
}

.character-selection {
	display: flex;
	width: 15vw;
	margin: 2.5vw;
	align-items: center;
	justify-content: center;
}
.main-character {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 15vw;
}
@media (max-width: 1065px) {
	.character-selection {
		flex-direction: column;
		width: 40vw;
	}
	.attribution-logo {
		width: auto;
		height: 50px;
	}
	.main-character {
		padding: 0;
		padding-bottom :100px
	}
}
footer {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	padding: 10px;
}
.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.attribution-logo {
	width: auto;
	height: 75px;
}

.skill-img{
	background-color: #03001C ;
	border-radius: 50%;
}