@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "minsans";
	src: url(media/fonts/MinSans-Medium.otf);
	src: url(media/fonts/MinSans-Medium.otf)
		format("opentype");
}
@font-face {
	font-family: "orifont";
	src: url(media/fonts/Orifont-Regular.ttf);
	src: url(media/fonts/Orifont-Regular.ttf)
		format("truetype");
}
:root {
	--primary-color: #e4d4ff;
	--secondary-color: #d6efed;
	--main-font: minsans;
	--secondary-font: orifont;
}

header {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	
}

.title {
	font-family: orifont;
}
.nav-link {
	font-family: orifont;
	padding: 0;
}
.nav {
	display: flex;
	max-width: fit-content;
}

.nav-item {
	margin-right: 4.8vw;
}
.nav-box {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding-bottom: 1.5vh;
	align-self: center;
}
.logo {
	min-height: 65px;
	min-width: 65px;
	width: 8vw;
	height: 8vw;
	max-width: 100px;
	max-height: 100px;
	aligh-self: center;
	padding: 10px;
}
.menu-icon {
	visibility: hidden;
	display: none;
}
/* making the hamburger menu only show up when screen size becomes too small */
@media (max-width: 768px) {
	.nav {
		display: none;
	}
	.menu-icon {
		visibility: visible;
		display: flex;
		justify-self: center;
		align-self: center;

	}
	header {
		justify-content: space-around;
	}
}
